@import 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');


body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', open-sans;
  background-image: url(./assets/textile.jpg);
  backdrop-filter: blur(1px);
}

:root {
  --color-primary: rgb(1, 1, 69);
  --color-primary-hover: rgba(1, 1, 69, 0.782);
  --shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);;
}